<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card">
          <div class="card-header" align="center">
            <h2>Schedule</h2>
          </div>
          <div class="card-body">
              <form>
                  <p align="center">Enter in your schedule</p>
                  <button class="btn btn-success btn-block" (click)=singin()>SignIn</button>
                  <button class="btn btn-success btn-block" (click)=singup()>SignUp</button>
              </form>
          </div>
      </div>
  </div>
</div>
